
body {
	margin: 30px 0;
	padding: 0;
	background: #EFEFEF;
	font-size: 15px;
	color: #383838;
	font-family:Helvetica;

}

.submit1 {
background:#FBFBFB url(images/img7.gif) repeat-x scroll 0 0;
border-color:#EBEBEB #EBEBEB #DDDDDD;
border-style:solid;
border-width:1px;
color:#7A7A7A;
font-size:12px;
text-transform:lowercase;
}
.ilksatir
{
    background-color:#fcfcfc;
    border-right:1px solid #E8E8E8;	
    padding:11px;
     padding-bottom:0px;
      padding-top:8px;
    
}
.ilksatir a
{
    border-bottom:1px dotted;
    line-height:30px;
      background-color:#efefef;
}
    
.ilksatir a:hover 
{
    text-decoration:none;
        border-bottom:2px dotted;
    }
.ortasatir
{
	border-right:1px solid #E8E8E8;
    background-color:#fcfcfc;
    padding:11px;
    padding-bottom:0px;
    padding-top:0px;
}
.sonsatir
{
    background-color:#fcfcfc;
    border-right:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;	
    padding:11px;
     padding-top:0px;
       padding-bottom:5px;

      
}
.yazibas
{
  
font-size:18px;
font-weight:bold;
margin-bottom:10px;	
color:Black;
padding:2px;
	text-shadow:2px 2px 2px #f4f5ff;
}
.detaybas
{
border-bottom:1px solid #F4F4F4;
font-size:18px;
margin-bottom:10px;	
color:#e33b00;

}
h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #000000;
}

#colOne h2, h3, h4, h5, h6{
text-transform: none; 
color: rgb(227, 59, 0);
}

.bas
{
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #000000;
				text-shadow:2px 2px 2px #bcbcbc;
}

h1

{
	color:#e33b00;
    
}

h2 {
	margin-bottom: 10px;
	border-bottom: 1px solid #F4F4F4;
	font-size: 26px;
}

h3 {
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 17px;
}

p, ol, ul, blockquote {
	line-height: 24px;
}

ul {
	margin-left: 30px;
	padding-left: 0;
	
}

a
{
	color:#e33b00;
	text-decoration:none;
}

a:hover
{	
	color:Olive;
	text-decoration:underline;
}

img {
	border: none;
}


/* Posted */

.posted {
	margin: 0 0 10px 0;
	font-size:10px;
	padding-top:8px;
}

.posted p {
	float: left;
	margin: 0;
}

.posted .comments {
	float: right;
}

.posted a {
	color: #717171;
}

/* Header */

#header {
	width: 917px;
	height: 115px;
	margin: 0 auto;
	background: url(images/img2.gif) repeat-x;

}

/* Logo */

#logo {
	float: left;
	height: 115px;
	padding: 0 0 0 0;
	background: url(images/img1.gif) no-repeat;
}

#logo * {
	text-decoration: none;
}

#logo h1 {
	float: left;
	padding: 50px 0 0 40px;
	font-size: 36px;
}

#logo h1 a {
	color: #000000;
}

#logo h1 span {
	font-weight: bold;
}

#logo h2 {
	float: left;
	padding: 72px 0 0 8px;
	font-size: 12px;
	border: none;
}

#logo h2 a {
	color: #B4B4B4;
}

/* Menu */

#menu {
	float: right;
	height: 45px;
	padding: 70px 25px 0 0;
	background: url(images/img3.gif) no-repeat right top;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 0px;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 15px 0 20px;
	border-left: 1px solid #DBDBDB;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 13px;
	color: #3B3B3B;
}

#menu .first a {
	border: none;
}

/* Splash */

#splash {
	width: 877px;
	height: 170px;
	margin: 0 auto;
	background: url(images/img5.gif) repeat-x left bottom;
	border-right: 20px solid #FFFFFF;
	border-left: 20px solid #FFFFFF;
}

/* Content */

#content 
{
    
	width: 847px;
	margin: 0 auto;
	padding: 30px 35px 0 35px;
	background: #ffffff url(images/img8.gif) no-repeat left bottom;
}

#colOne {
	float: left;
	width: 620px;
	padding-bottom:23px;
}

#colTwo {
	float: right;
	width: 209px;
	padding: 0px 0 0 0;
}

/* Footer */

#footer {
}

#footer p {
	text-align: center;
	color: #777777;
}

#footer a {
	color: #5D5D5D;
}

.d
{
line-height:26px;
font-weight:bold;

}

.rasgeleyazilar

{
color:#69a0bc;
 font-size:12px; 
line-height:20px;
}
.devam

{
color:#69a0bc;
font-size:15px; 	
}

.rasgeleyazilar:hover
{
text-decoration:underline;
color:Olive;
}

.menu
{
 background-color: #f9f9f9;
 width:620px;
 max-width:620px;
 padding:0px;
}

.menu ul 
{ 
display: block;
 padding: 1px;
 margin: 1px;
 list-style: none;
 text-align: left; 

 }  
 
 .menu ul li 
 { 
 display: inline;
 margin: 2px; 
 list-style: none;
 background-color: #ebf1f4;
 padding: 2px; 
 } 
 
.menu a

{
 text-decoration:none;
}

.menu a:hover

{

 text-decoration:none;

}


.etiketa

{
color:#e33b00;
text-decoration:none;	
font-size:11px;	
}
.etiketa:hover
{
background-color:#69A0BC;
color:White;	
text-decoration:none;	
	}
.etiketb:hover
{
background-color:#69A0BC;
color:White;	
text-decoration:none;
	}
.etiketb

{
color:#f13e00;
text-decoration:none;	
font-size:11px;	
}

.sayfano
{
border : 1px solid #e8e8e8;
padding:5px 8px 5px 8px;
height:20px;
margin:1px;
color:#328dbc;
text-align:center;
background-color:#efefef;
}

.sayfano:hover
{
background-color:white;
text-decoration:none;
}

.sayfanosecili
{
border : 1px solid #e8e8e8;
padding:5px 8px 5px 8px;
color:Silver;	
text-align:center;
text-decoration:none;
}

.delim
{
color:#bababa;
}

.baslik 
{
	text-decoration:none;
	color:#328dbc;
	font-family:Helvetica;
}

.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

/******* GENERAL RESET *******/
/******* LOGO *******/
#logo{
	margin-top: 0em;
	display: block;
}
/******* /LOGO  *******/
/******* MENU *******/

#container{
	margin: 0em auto;
	width: 218px;
}
#container ul{
	list-style: none;
	list-style-position: outside;
	margin:0px;
	padding:0px;
}
#container ul.menuu li{
	float: left;
	margin-right: 5px;
	margin-bottom: -1px;
}

#container ul.menuu li
{
	font-size:12px;
	font-weight: 700;
	display: block;
	padding: 4px 6px 4px 6px;
	background: #efefef;
	margin-bottom: -1px;
	border: 1px solid #e8e8e8;
	border-width: 1px 1px 1px 1px;
	position: relative;
	color: #898989;
	cursor: pointer;
}

#container ul.menuu li.active{
	background: #fff;
	top: 1px;
	border-bottom: 0;
	color: #5f95ef;
}
/******* /MENU *******/
/******* CONTENT *******/
.content{
	margin: 0pt auto;
	background: #efefef;
	background: #fff;
	border: 1px solid #e8e8e8;
	text-align: left;
	padding: 10px;
	padding-bottom: 20px;
	font-size: 11px;
}
.content h1{
	line-height: 1em;
	vertical-align: middle;
	height: 48px;
	padding: 10px 10px 10px 52px;
	font-size: 32px;
}
/******* /CONTENT *******/
/******* Kategoriler *******/

.content.Kategoriler{
	display: block;
}
.content.Etiketler{
	display: block;
	margin-top:0px;
	width: 178px;
}
/******* /Kategoriler *******/
/******* Arsiv *******/

.content.Arsiv{
	display: none;
}
/******* /Arsiv *******/
/******* Yazilar *******/

.content.Yazilar
{
	display: none;
}
/******* /Yazilar *******/
        .style1
        {
            text-align: center;
        }
        .style2
        {
            font-size: small;
            font-style: italic;
        }
        .style3
        {
            font-size: small;
            text-align: center;
        }
        .style4
        {
            font-size: small;
        }